.audio_player {
    display: flex;
    width: 70%;
}

.time_bar {
    --time_progess: 0;
    border: 1px black solid;
    appearance: none;
    background: salmon;
    width: 100%;
    position: relative;
    border-radius: 10px;
    height: 2.3rem;
    z-index: 0;
    outline: none;
}

.main {
    appearance: none;
    z-index: 2;
}

.main::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 42.5rem;
    transform: translateY(319px);
    width: 2px;
    border-radius: 15%;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    position: page;
    z-index: 100;
    box-sizing: border-box;
}

.main::-webkit-slider-thumb:hover {
    cursor: col-resize;
    background-color: chartreuse;
    z-index: 100;
}

.main::-webkit-slider-thumb:active {
    cursor:col-resize;
    background: #ef0101;
    z-index: 100;
}

.time_bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    z-index: 100;
}

.main:active::-webkit-slider-thumb {
    width: 4px;
    background: #ef0101;
    z-index: 12;
}

.volume {
    width: 50px;
    transform: rotate(-90deg);
    border: 1px black solid;
    appearance: none;
    position: relative;
    border-radius: 10px;
    height: 0.3rem;
    outline: none;
    padding: 1px;
    top: 45px;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    height: 23px;
    width: 6px;
    background-color: #c50808;
    position: relative;
    box-sizing: border-box;
    z-index: 5;
    border-radius: 15%;
}