.time_bar {
    border: 1px black solid;
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 10px;
    height: 2.3rem;
    z-index: 0;
    outline: none;
}

.main {
    appearance: none;
    z-index: 2;
}

.main::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 42.5rem;
    transform: translateY(319px);
    width: 2px;
    border-radius: 15%;
    border: none;
    background-color: #ffffff;
    cursor: col-resize;
    position: page;
    z-index: 100;
}

.main::-webkit-slider-thumb:hover {
    cursor: col-resize;
    background-color: rgba(17, 180, 74, 0.48);
    z-index: 100;
}

.main::-webkit-slider-thumb:active {
    cursor:col-resize;
    background: #ef0101;
    z-index: 100;
}

.time_bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    z-index: 100;
}

.main:active::-webkit-slider-thumb {
    width: 3px;
    background: #ef0101;
    z-index: 100;
}

.volume {
    width: 50px;
    transform: rotate(-90deg);
    border: 1px black solid;
    appearance: none;
    position: relative;
    border-radius: 10px;
    height: 0.3rem;
    outline: none;
    padding: 1px;
    top: 45px;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    height: 23px;
    width: 6px;
    background-color: #c50808;
    position: relative;
    box-sizing: border-box;
    z-index: 5;
    border-radius: 15%;
}

.text_div{
    position: absolute;
    z-index: 3;
    padding-left: 7px;
    margin-top: -20px;
    font-family: sans-serif;
    color: white;
    font-weight: 10;
}

@media (max-width: 620px){
    .time_bar {
        width: 100%;
        height: 2rem;
    }
    .volume{
        width: 40px;
        top:35px
    }

    .main::-webkit-slider-thumb {
        height: 38.3rem;
        transform: translateY(287px);
    }
}