/*CSS classes for the Button Component*/

.mainButton {
    color: black;
    border: none;
    border-radius: 50%;
    width: 77px;
    height: 77px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px;
}

.mainButton:hover {
    cursor: pointer ;
    border: 5px solid black;
    transition-duration: 0.07s;
}

.mainButton:active {
    font-size: 30px;
}

.mute {
    color: black;
    width: 60px;
    height: 60px;
    top: 20px;
    border: none;
    font-size: 30px;
    border-radius: 50%;
    position: relative;
}

.mute:hover {
    background: grey;
    border: 5px solid black;
    transition-duration: 0.07s;

}

.mute:active {;
    font-size: 25px;
}

/* Handling screen size changing or smaller devices*/
@media (max-width: 620px) {
    .mute{
        width: 43px;
        height: 43px;
        font-size: 20px;
    }

    .mute:active{
        font-size: 15px;
    }

    .mainButton{
        width: 60px;
        height: 60px;
        font-size: 27px;
        margin: 2px 10px;
    }

    .mainButton:active{
        font-size: 25px;
    }

}
